USE [master]
GO
/****** Object:  Database [bgroup4_test1]    Script Date: 19/08/2020 14:27:43 ******/
CREATE DATABASE [bgroup4_test1] ON  PRIMARY 
( NAME = N'bgroup4_test1', FILENAME = N'D:\Sql_Data\bgroup4_test1.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bgroup4_test1_log', FILENAME = N'D:\Sql_Data\bgroup4_test1_log.LDF' , SIZE = 78080KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bgroup4_test1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bgroup4_test1]
GO
/****** Object:  User [bgroup4_DBuser]    Script Date: 19/08/2020 14:27:45 ******/
CREATE USER [bgroup4_DBuser] FOR LOGIN [bgroup4] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [bgroup4_DBuser]
GO
/****** Object:  Table [dbo].[Airports_2020]    Script Date: 19/08/2020 14:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airports_2020](
	[int_id] [int] NULL,
	[code] [nvarchar](3) NOT NULL,
	[lat] [float] NULL,
	[lon] [float] NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Airports_2020] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loans_2020]    Script Date: 19/08/2020 14:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loans_2020](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[age] [smallint] NOT NULL,
	[savings] [decimal](18, 0) NOT NULL,
	[employed] [bit] NOT NULL,
	[request] [decimal](18, 0) NOT NULL,
	[approvedAmount] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies_2020]    Script Date: 19/08/2020 14:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies_2020](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Actor] [nvarchar](50) NULL,
 CONSTRAINT [PK_Movies_2020] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyFlights_2020]    Script Date: 19/08/2020 14:27:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyFlights_2020](
	[deal_number] [int] NULL,
	[from] [nvarchar](255) NULL,
	[cityFrom] [nvarchar](255) NULL,
	[departureDate] [nvarchar](255) NULL,
	[to] [nvarchar](255) NULL,
	[cityTo] [nvarchar](255) NULL,
	[arrivalDate] [nvarchar](255) NULL,
	[price] [nvarchar](10) NULL,
	[route] [nvarchar](255) NULL,
	[passengers] [nvarchar](255) NULL,
	[discount] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyFlightsManagers2020]    Script Date: 19/08/2020 14:27:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyFlightsManagers2020](
	[Manager_Name] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders_2020]    Script Date: 19/08/2020 14:27:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders_2020](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [char](30) NOT NULL,
	[address] [char](100) NOT NULL,
	[phonenumber] [char](10) NOT NULL,
	[selfPickup] [bit] NOT NULL,
	[pizzaId] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pizza_2020]    Script Date: 19/08/2020 14:27:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pizza_2020](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [char](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tinder_Favorites_2020]    Script Date: 19/08/2020 14:27:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tinder_Favorites_2020](
	[Id] [tinyint] NOT NULL,
 CONSTRAINT [PK_Tinder_Favorites_2020] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tinder_Users_2020]    Script Date: 19/08/2020 14:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tinder_Users_2020](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Gender] [nvarchar](10) NULL,
	[Age] [smallint] NULL,
	[Height] [float] NULL,
	[City] [nvarchar](100) NULL,
	[Image] [nvarchar](255) NULL,
	[Premium] [bit] NULL,
	[Hobbies] [nvarchar](255) NULL,
 CONSTRAINT [PK_Tinder_Users_2020] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Airports_2020] ([int_id], [code], [lat], [lon], [name]) VALUES (2210, N'AAA', -17.3525, -145.51, N'Anaa')
INSERT [dbo].[Airports_2020] ([int_id], [code], [lat], [lon], [name]) VALUES (2208, N'AAE', 36.822222, 7.809167, N'Rabah Bitat')
INSERT [dbo].[Airports_2020] ([int_id], [code], [lat], [lon], [name]) VALUES (2213, N'AAL', 57.092778, 9.849167, N'Aalborg')
GO
SET IDENTITY_INSERT [dbo].[Loans_2020] ON 

INSERT [dbo].[Loans_2020] ([id], [name], [age], [savings], [employed], [request], [approvedAmount]) VALUES (1, N'David', 30, CAST(50000 AS Decimal(18, 0)), 1, CAST(100000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[Loans_2020] ([id], [name], [age], [savings], [employed], [request], [approvedAmount]) VALUES (2, N'George', 30, CAST(20000 AS Decimal(18, 0)), 1, CAST(200000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[Loans_2020] ([id], [name], [age], [savings], [employed], [request], [approvedAmount]) VALUES (3, N'Barbara', 35, CAST(50000 AS Decimal(18, 0)), 0, CAST(100000 AS Decimal(18, 0)), NULL)
SET IDENTITY_INSERT [dbo].[Loans_2020] OFF
SET IDENTITY_INSERT [dbo].[Movies_2020] ON 

INSERT [dbo].[Movies_2020] ([Id], [Name], [Actor]) VALUES (1, N'Omer', N'NAPATZ')
INSERT [dbo].[Movies_2020] ([Id], [Name], [Actor]) VALUES (2, N'Avishay', N'ZIKUK')
SET IDENTITY_INSERT [dbo].[Movies_2020] OFF
INSERT [dbo].[MyFlights_2020] ([deal_number], [from], [cityFrom], [departureDate], [to], [cityTo], [arrivalDate], [price], [route], [passengers], [discount]) VALUES (1, N'TLV', N'Tel Aviv', N'2020-03-03T09:00:00.000Z', N'JFK', N'New York', N'2020-03-05T01:30:00.000Z', N'186', N'TLV~VIE~CPH~LON~NYC', N'omer@messi.com,omer,messi', NULL)
INSERT [dbo].[MyFlights_2020] ([deal_number], [from], [cityFrom], [departureDate], [to], [cityTo], [arrivalDate], [price], [route], [passengers], [discount]) VALUES (1, N'TLV', N'Tel Aviv', N'2020-03-03T09:00:00.000Z', N'JFK', N'New York', N'2020-03-05T01:30:00.000Z', N'186', N'TLV (W6)~VIE (OE)~CPH (D8)~LON (DI)~NYC', N'', NULL)
INSERT [dbo].[MyFlights_2020] ([deal_number], [from], [cityFrom], [departureDate], [to], [cityTo], [arrivalDate], [price], [route], [passengers], [discount]) VALUES (2, N'TLV', N'Tel Aviv', N'2020-03-08T12:10:00.000Z', N'JFK', N'New York', N'2020-03-10T02:00:00.000Z', N'185', N'TLV~PFO~LON~BCN~NYC', N'omer@123.ocm,123,234,345,456,567', NULL)
INSERT [dbo].[MyFlightsManagers2020] ([Manager_Name], [Password]) VALUES (N'omer', N'1234')
INSERT [dbo].[MyFlightsManagers2020] ([Manager_Name], [Password]) VALUES (N'anat', N'12345')
SET IDENTITY_INSERT [dbo].[Orders_2020] ON 

INSERT [dbo].[Orders_2020] ([id], [name], [address], [phonenumber], [selfPickup], [pizzaId]) VALUES (3, N'omer                          ', N'Ashdot                                                                                              ', N'123       ', 0, 1)
INSERT [dbo].[Orders_2020] ([id], [name], [address], [phonenumber], [selfPickup], [pizzaId]) VALUES (6, N'                              ', N'                                                                                                    ', N'          ', 0, 2)
INSERT [dbo].[Orders_2020] ([id], [name], [address], [phonenumber], [selfPickup], [pizzaId]) VALUES (12, N'wer                           ', N'4                                                                                                   ', N'324242    ', 0, 1)
SET IDENTITY_INSERT [dbo].[Orders_2020] OFF
SET IDENTITY_INSERT [dbo].[Pizza_2020] ON 

INSERT [dbo].[Pizza_2020] ([id], [name]) VALUES (1, N'Peperoni                      ')
INSERT [dbo].[Pizza_2020] ([id], [name]) VALUES (2, N'Salami                        ')
INSERT [dbo].[Pizza_2020] ([id], [name]) VALUES (3, N'Diavola                       ')
SET IDENTITY_INSERT [dbo].[Pizza_2020] OFF
SET IDENTITY_INSERT [dbo].[Tinder_Users_2020] ON 

INSERT [dbo].[Tinder_Users_2020] ([Id], [Name], [Gender], [Age], [Height], [City], [Image], [Premium], [Hobbies]) VALUES (1, N'Papa Smurf', N'Male', 1465, 0.23, N'Smurf Forest, Europe, Belgium', N'https://p7.hiclipart.com/preview/551/185/148/papa-smurf-smurfette-gargamel-brainy-smurf-the-smurfs-blue-flute-cliparts.jpg', 0, NULL)
INSERT [dbo].[Tinder_Users_2020] ([Id], [Name], [Gender], [Age], [Height], [City], [Image], [Premium], [Hobbies]) VALUES (2, N'Peter Parker', N'Male', 1962, 1.78, N'Forest Hills, New York', N'https://m.media-amazon.com/images/M/MV5BMzI5NTUwMTY5M15BMl5BanBnXkFtZTgwMDk4Njg0MjE@._V1_.jpg', 1, N'inventor, photographer, former President and CEO of Alchemax, President of the Uncle Ben Foundation, high school science teacher, research scientist, wrestler')
INSERT [dbo].[Tinder_Users_2020] ([Id], [Name], [Gender], [Age], [Height], [City], [Image], [Premium], [Hobbies]) VALUES (3, N'Harry James Potter', N'Male', 1980, 1.74, N'U.K.', N'https://qph.fs.quoracdn.net/main-qimg-bf33dd362b661df14fbdae5c313af80e', 0, NULL)
SET IDENTITY_INSERT [dbo].[Tinder_Users_2020] OFF
ALTER TABLE [dbo].[Orders_2020]  WITH CHECK ADD FOREIGN KEY([pizzaId])
REFERENCES [dbo].[Pizza_2020] ([id])
GO
ALTER TABLE [dbo].[Tinder_Favorites_2020]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Tinder_Users_2020] ([Id])
GO
USE [master]
GO
